@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 500ms;
}

body {
  font-family: Inter;
  color: $mainFontColor;
  background-color: $backgroundcolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
main {
  flex: 1;
}
section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: $btnColor;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
