@import "./variables.scss";

.hero {
  height: 100vh;
  background-image: url("./images/hero.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  @media ((min-width: $tablet) or (orientation: "landscape")) {
    background-position: 0px 0px;
    background-size: auto 100vh;
    // background-size: 36% auto;
  }

  @media (min-width: $desktop) {
  }
}

.hero__btn {
  background-color: $btnColor;
}
