@import "../variables";

.progectSection {
  padding-top: clamp(72px, 7vw, 100px);
}

.progects__list {
  width: 100%;
}

.progects__item {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  //   background-color: red;
  max-width: 400px;

  &:not(:last-child) {
    margin-bottom: clamp(20px, 10vw, 40px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.363);
    padding-bottom: clamp(20px, 10vw, 40px);
  }
  &:nth-child(2n + 2) article {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  &:nth-child(2n + 2) .progects__links {
    justify-content: flex-start;
  }

  @media (min-width: 600px) {
    max-width: 1440px;
    height: 300px;
    height: clamp(300px, 30vw, 360px);
  }

  & article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vw;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

    @media (min-width: 600px) {
      margin-left: 0;
      margin-right: 0;

      flex-direction: row;
      gap: 3vw;
    }
  }
}

.progects__imgWrapper {
  //   position: relative;
  height: 300px;
  width: 100%;

  background-color: azure;
  @media (min-width: 600px) {
    height: 100%;
    flex: 1.5;
  }
  @media (min-width: $tablet) {
    flex: 1.3;
  }

  & img {
    // position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.progects__descriptionWrapper {
  height: 100%;
  display: flex;
  // flex: 2;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;

  @media (min-width: 600px) {
    height: 100%;
    flex: 2;
  }
}

.progects__links {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
